body{
    background-color:lightcyan;
  }
.calendarDay{
    color:gray;
    border-radius: 50px;
}
.calendarDay:hover{
    background-color: lightblue;  
}
.calendarDayWeekend:hover{
    background-color: lightblue;  
}
.calendarDayWeekend{
    color:gray;
    border-radius: 50px;
}
/* .calendarDayWeekend{
    color:gray;
    border-radius: 50px;
    background-color: lightblue;
} */
/* .calendar{
    box-shadow: 4px 10px 15px 0px rgba(0,0,0,0.42);
}

.todolist{
    box-shadow: -9px 10px 15px 0px rgba(0,0,0,0.42);
} */

